@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<form class="m-2" method="post" asp-action="Prenota">
	<button type="submit" class="btn btn-primary">
Prenota
</button>
</form>
